In [1]:
import pandas as pd
from glob import glob

In [2]:
df_final = sorted(glob('mini project 2/*-capitalbikeshare-tripdata.csv'))
df_final

['mini project 2\\2010-capitalbikeshare-tripdata.csv',
 'mini project 2\\2011-capitalbikeshare-tripdata.csv',
 'mini project 2\\2012Q1-capitalbikeshare-tripdata.csv',
 'mini project 2\\2012Q2-capitalbikeshare-tripdata.csv',
 'mini project 2\\2012Q3-capitalbikeshare-tripdata.csv',
 'mini project 2\\2012Q4-capitalbikeshare-tripdata.csv',
 'mini project 2\\2013Q1-capitalbikeshare-tripdata.csv',
 'mini project 2\\2013Q2-capitalbikeshare-tripdata.csv',
 'mini project 2\\2013Q3-capitalbikeshare-tripdata.csv',
 'mini project 2\\2013Q4-capitalbikeshare-tripdata.csv',
 'mini project 2\\2014Q1-capitalbikeshare-tripdata.csv',
 'mini project 2\\2014Q2-capitalbikeshare-tripdata.csv',
 'mini project 2\\2014Q3-capitalbikeshare-tripdata.csv',
 'mini project 2\\2014Q4-capitalbikeshare-tripdata.csv',
 'mini project 2\\2015Q1-capitalbikeshare-tripdata.csv',
 'mini project 2\\2015Q2-capitalbikeshare-tripdata.csv',
 'mini project 2\\2015Q3-capitalbikeshare-tripdata.csv',
 'mini project 2\\2015Q4-capitalbikeshare-tripdata.csv',
 'mini project 2\\2016Q1-capitalbikeshare-tripdata.csv',
 'mini project 2\\2016Q2-capitalbikeshare-tripdata.csv',
 'mini project 2\\2016Q3-capitalbikeshare-tripdata.csv',
 'mini project 2\\2016Q4-capitalbikeshare-tripdata.csv',
 'mini project 2\\2017Q1-capitalbikeshare-tripdata.csv',
 'mini project 2\\2017Q2-capitalbikeshare-tripdata.csv',
 'mini project 2\\2017Q3-capitalbikeshare-tripdata.csv',
 'mini project 2\\2017Q4-capitalbikeshare-tripdata.csv',
 'mini project 2\\201802-capitalbikeshare-tripdata.csv',
 'mini project 2\\201803-capitalbikeshare-tripdata.csv',
 'mini project 2\\201804-capitalbikeshare-tripdata.csv',
 'mini project 2\\201805-capitalbikeshare-tripdata.csv',
 'mini project 2\\201806-capitalbikeshare-tripdata.csv',
 'mini project 2\\201807-capitalbikeshare-tripdata.csv',
 'mini project 2\\201808-capitalbikeshare-tripdata.csv',
 'mini project 2\\201809-capitalbikeshare-tripdata.csv',
 'mini project 2\\201810-capitalbikeshare-tripdata.csv',
 'mini project 2\\201811-capitalbikeshare-tripdata.csv',
 'mini project 2\\201812-capitalbikeshare-tripdata.csv',
 'mini project 2\\201901-capitalbikeshare-tripdata.csv',
 'mini project 2\\201902-capitalbikeshare-tripdata.csv',
 'mini project 2\\201903-capitalbikeshare-tripdata.csv',
 'mini project 2\\201904-capitalbikeshare-tripdata.csv',
 'mini project 2\\201905-capitalbikeshare-tripdata.csv',
 'mini project 2\\201906-capitalbikeshare-tripdata.csv',
 'mini project 2\\201907-capitalbikeshare-tripdata.csv',
 'mini project 2\\201908-capitalbikeshare-tripdata.csv',
 'mini project 2\\201909-capitalbikeshare-tripdata.csv',
 'mini project 2\\201910-capitalbikeshare-tripdata.csv',
 'mini project 2\\201911-capitalbikeshare-tripdata.csv',
 'mini project 2\\201912-capitalbikeshare-tripdata.csv',
 'mini project 2\\202001-capitalbikeshare-tripdata.csv']

In [3]:
alldata = pd.concat((pd.read_csv(file).assign(filename = file)
          for file in df_final),ignore_index=True)
alldata.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,filename
0,1012,2010-09-20 11:27:04,2010-09-20 11:43:56,31208,M St & New Jersey Ave SE,31108,4th & M St SW,W00742,Member,mini project 2\2010-capitalbikeshare-tripdata.csv
1,61,2010-09-20 11:41:22,2010-09-20 11:42:23,31209,1st & N St SE,31209,1st & N St SE,W00032,Member,mini project 2\2010-capitalbikeshare-tripdata.csv
2,2690,2010-09-20 12:05:37,2010-09-20 12:50:27,31600,5th & K St NW,31100,19th St & Pennsylvania Ave NW,W00993,Member,mini project 2\2010-capitalbikeshare-tripdata.csv
3,1406,2010-09-20 12:06:05,2010-09-20 12:29:32,31600,5th & K St NW,31602,Park Rd & Holmead Pl NW,W00344,Member,mini project 2\2010-capitalbikeshare-tripdata.csv
4,1413,2010-09-20 12:10:43,2010-09-20 12:34:17,31100,19th St & Pennsylvania Ave NW,31201,15th & P St NW,W00883,Member,mini project 2\2010-capitalbikeshare-tripdata.csv

In [4]:
alldata.to_csv('final.csv',index=None)

In [5]:
alldata.tail()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,filename
26087118,1279,2020-01-31 23:56:42,2020-02-01 00:18:02,31324,18th & New Hampshire Ave NW,31205,21st & I St NW,W20938,Member,mini project 2\202001-capitalbikeshare-tripdat...
26087119,561,2020-01-31 23:57:19,2020-02-01 00:06:40,31204,20th & E St NW,31225,C & O Canal & Wisconsin Ave NW,W20045,Member,mini project 2\202001-capitalbikeshare-tripdat...
26087120,360,2020-01-31 23:58:51,2020-02-01 00:04:51,32048,Bethesda Metro / Wisconsin Ave & Old Georgetow...,32028,Norfolk & Rugby Ave,W00517,Member,mini project 2\202001-capitalbikeshare-tripdat...
26087121,1491,2020-01-31 23:59:15,2020-02-01 00:24:07,31505,Eckington Pl & Q St NE,31417,Kansas Ave & Sherman Cr NW,W21859,Member,mini project 2\202001-capitalbikeshare-tripdat...
26087122,637,2020-01-31 23:59:35,2020-02-01 00:10:13,31251,12th & L St NW,31519,1st & O St NW,W00636,Member,mini project 2\202001-capitalbikeshare-tripdat...

In [6]:
alldata.describe()

           Duration  Start station number  End station number
count  2.608712e+07          2.608712e+07        2.608712e+07
mean   1.097207e+03          3.131041e+04        3.131133e+04
std    2.103767e+03          2.730979e+02        2.729658e+02
min    6.000000e+01          0.000000e+00        0.000000e+00
25%    3.980000e+02          3.120200e+04        3.120400e+04
50%    6.770000e+02          3.124600e+04        3.124500e+04
75%    1.152000e+03          3.150000e+04        3.150000e+04
max    8.639400e+04          3.260900e+04        3.260900e+04

In [7]:
alldata.size()

TypeError: 'numpy.int32' object is not callable

In [8]:
import numpy as np

In [9]:
alldata.size

260871230

In [ ]:
(pd.notnull(alldata)).describe()